nav{
  display:flex;
  font-size: 14px;
  background-color: gray;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 1px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.nav-text-left{
  margin-left: 1.2em;
  margin-top: 2px;
}
.nav-text-right{
  display: flex;
  margin-left: auto;
  margin-right: 1.2em;
  margin-top: 2px;
}
.nav-text{
  text-decoration: none;
  padding-left: 3px;
  padding-right: 15px;
  color: rgb(233, 215, 126);
  font-weight: 700;
}
.brand{
  text-decoration: none;
}